aniso8601
certifi
charset-normalizer
click
dataclasses
Flask
Flask-Cors
flask-marshmallow
Flask-RESTful
Flask-SQLAlchemy
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
marshmallow
marshmallow-sqlalchemy
mysqlclient
numpy
opencv-python
pymongo
python-dateutil
pytz
requests
six
SQLAlchemy
typing-extensions
urllib3
Werkzeug
zipp
gunicorn